<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}Signavio Tech Blog</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ "../css/styles.css" }}">
<link rel="icon" href="https://www.signavio.com/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{% if page.tags %}{{ page.tags }}{% else %}software development, writing, tech{% endif %}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Signavio" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}Signavio Tech Blog" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image" content="https://tech.signavio.com{% if page.image.feature %}{{ page.image.feature }}{% else %}/assets/img/signavio_twitter_400x400.png{% endif %}" />
</head>
