<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Signavio TechBlog</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | relative_url }}">
<link rel="icon" href="https://www.signavio.com/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Signavio TechBlog">
<meta name="keywords" content="software development, writing, tech, signavio">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@signavio" />
<meta name="twitter:title" content="Signavio" />
<meta name="twitter:description" content="Signavio is the leading platform for business process management and business decision management in the cloud." />
<meta name="twitter:image" content="/assets/img/signavio_twitter_400x400.png" />
</head>
