@import '../_gems/ruby/2.3.0/gems/susy-2.2.12/sass/susy';

// Susy defaults setting

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: after,
	global-box-sizing: border-box,
	use-custom: (rem: true),
);
@include border-box-sizing;
