@import 'susy';

// Susy defaults setting

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: after,
	global-box-sizing: border-box,
	use-custom: (rem: true),
);
@include border-box-sizing;
