{% include header.html %}
<body class="article">
	<div id="wrapper">
		<header>
			<div class="header">
				<div class="container">
					<a href="/"><div class="tech-blog-logo"></div></a>
					<a href="https://www.signavio.com" target="_blank"><div class="signavio-brand-logo"></div></a>
				</div>
			</div>
		</header>
		<main>
			<div class="container">
				{% if page.image.feature %}
				<div class="featured"><img src="{{ page.image.feature }}" alt="{{ page.image.alt }}"></div>
				{% endif %}
				<div class="title-content">
					<h1>{{ page.title }}</h1>
					<div class="meta">{{ page.author }} - {{ page.date | date_to_long_string }}</div>
				</div>
				<div class="main-content">

					<div class="excerpt">{{ page.description }}</div>
					<div class="content">
						{{ content }}
					</div>
				</div>
				<div class="side-content">
					<a href="/contact" title="">
						<button class="btn contact">Contact us</button>
					</a>
				</div>
			</div>
		</main>
	</div>
	{% include footer.html %}
</body>
</html>
